*{
    margin: 0;
    padding: 0;
}

body{
    margin: 2em;
    padding: 10px;
    background-color: rgb(245, 56, 103);
    color: rgb(199, 14, 14);
}

.titulo{
    background-color: rgb(5, 118, 224);
    font-size: 12pt;
}

input[type=text], input[type=password], input[type=submit]{
    font-size: 22px;
}